pedido-web/WebContent/wsdl/ClienteBO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bo.pessoal.fiap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://bo.pessoal.fiap.com" xmlns:intf="http://bo.pessoal.fiap.com" xmlns:tns1="http://to.pessoal.fiap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://bo.pessoal.fiap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://to.pessoal.fiap.com"/>
   <element name="consultarCliente">
    <complexType>
     <sequence>
      <element name="codCliente" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarClienteResponse">
    <complexType>
     <sequence>
      <element name="consultarClienteReturn" type="tns1:ClienteTO"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://to.pessoal.fiap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ClienteTO">
    <sequence>
     <element name="cep" nillable="true" type="xsd:string"/>
     <element name="cidade" nillable="true" type="xsd:string"/>
     <element name="clienteEspecial" nillable="true" type="xsd:string"/>
     <element name="codCliente" type="xsd:int"/>
     <element name="endereco" nillable="true" type="xsd:string"/>
     <element name="foto" nillable="true" type="xsd:string"/>
     <element name="latitude" nillable="true" type="xsd:string"/>
     <element name="longitude" nillable="true" type="xsd:string"/>
     <element name="nmCliente" nillable="true" type="xsd:string"/>
     <element name="telefone" nillable="true" type="xsd:string"/>
     <element name="uf" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultarClienteRequest">

      <wsdl:part element="impl:consultarCliente" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarClienteResponse">

      <wsdl:part element="impl:consultarClienteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClienteBO">

      <wsdl:operation name="consultarCliente">

         <wsdl:input message="impl:consultarClienteRequest" name="consultarClienteRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarClienteResponse" name="consultarClienteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClienteBOSoapBinding" type="impl:ClienteBO">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultarCliente">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarClienteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarClienteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClienteBOService">

      <wsdl:port binding="impl:ClienteBOSoapBinding" name="ClienteBO">

         <wsdlsoap:address location="http://localhost:8080/cliente-ws/services/ClienteBO"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
